* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: Roboto, sans-serif;
    background: #dee2d9;
}

/* View Login */
@font-face {
    font-family: myFont;
    src: url("../fonts/UTM\ Wedding\ K&T.ttf");
}

.box {
    background: #f68a39;
}

.box h1 {
    font-family: myFont;
    font-size: 40pt;
}

.form-box {
    padding: 40px 30px 40px 40px;
}

a {
    text-decoration: none;
}

h1.title {
    font-weight: bold;
    color: #f87a19;
    text-shadow: 2px 2px 10px #f68a39, 2px 2px 10px #f68a39;
    -webkit-text-stroke: 1px black;
}

.btn-orange {
    background-color: #f68a39;
    color: white;
}

.btn-orange:hover,
.btn-orange:focus {
    background-color: #f87a19;
    color: white;
    text-shadow: 2px 2px 10px #f68a39;
}

.btn:disabled {
    background-color: #cccccc;
    color: #666666;
    text-shadow: 2px 2px 10px #999999;
}

.img-box {
    max-width: 100%;
    height: 500px;
}

.img-upload {
    width: 150px;
    height: 150px;
}

.custom-file-btn input::-webkit-file-upload-button {
    display: none;
}

.custom-file-btn label:hover {
    background-color: #dde0e3;
    cursor: pointer;
}
/* ----------------------- */

/* View Admin Layout */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: scroll;
    background: #2a3f54;
    transition: 0.5s;
    z-index: 999;
    color: white;
    font-size: 14px;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.navbar-brand h3 {
    font-family: myFont;
    font-size: 40px;
    color: white;
}

.img-profile img {
    width: 50px;
    height: 50px;
    border: white 3px solid;
}

.profile-info span {
    font-size: 16px;
    line-height: 30px;
    color: #bab8b8;
}

.profile-info h2 {
    font-size: 17px;
    color: #ecf0f1;
    margin: 0;
    font-weight: 300;
}

.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: #ecf0f1;
    font-weight: 500;
    border-left: 3px solid #2a3f54;
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: #f68a39;
    background: black;
    border-color: #f68a39;
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #072d54;
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: #191c24;
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: 0.5s;
}

.navbar .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 80px;
    margin-bottom: 5px;
    border-radius: 0 30px 30px 0;
    color: #ecf0f1;
    font-size: 14px;
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
    background: rgba(255, 255, 255, 0.06);
    color: #fff;
}

.sidebar .navbar .dropdown-item:before {
    background: #425668;
    bottom: auto;
    content: "";
    height: 8px;
    left: 50px;
    margin-top: 8px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%;
}

.sidebar .navbar .dropdown-item:after {
    border-left: 1px solid #425668;
    bottom: 0;
    content: "";
    left: 54px;
    position: absolute;
    top: 0;
    margin-top: 55px;
}

.sidebar-footer {
    bottom: 0px;
    clear: both;
    display: block;
    padding: 5px 0 0 0;
    position: fixed;
    width: 230px;
    background: #2a3f54;
}

.sidebar-footer a {
    padding: 7px 0 3px;
    text-align: center;
    width: 25%;
    font-size: 17px;
    display: block;
    float: left;
    background: #172d44;
}

.sidebar-footer a:hover {
    background: #425567;
}

@font-face {
    font-family: "Glyphicons Halflings";
    src: url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot");
    src: url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot?#iefix")
            format("embedded-opentype"),
        url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.woff")
            format("woff"),
        url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.ttf")
            format("truetype"),
        url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular")
            format("svg");
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.glyphicon-off:before {
    content: "\e017";
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    transition: 0.5s;
}

.content .navbar {
    background-color: #2a3f54;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}

.profile-nav img {
    width: 40px;
    height: 40px;
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: white;
    outline: none;
    font-size: 14px;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: #f68a39;
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    border-radius: 40px;
    color: white;
}

.content .navbar .dropdown-menu {
    background-color: #2a3f54;
    min-width: 8rem;
}

.content .navbar .dropdown-item {
    color: white;
    font-size: 14px;
}

.content .navbar .dropdown-item:hover,
.content .navbar .dropdown-item.active {
    background: black;
    color: #f68a39;
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: 0.5s;
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}

#title-content {
    font-weight: bold;
    color: #f68a39;
    -webkit-text-stroke: 1px black;
    text-align: center;
    font-size: 50px;
}

.panel {
    border: 1px solid #bbbeb7;
    color: #2d455d;
}

#title-section {
    border-bottom: 1px solid #e5e5e5;
    font-size: 24px;
    color: #333;
}
/* ---------------------------- */

/* View error */
.error-page::-webkit-scrollbar {
    display: none;
}
/* ---------------------------- */

/* View List */
.btn-blue {
    background-color: #3c5b7a;
    color: white;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: blue;
    color: white;
    text-shadow: 2px 2px 10px #2a3f54;
}

.btn-red {
    background-color: #5c636a;
    color: white;
}

.btn-red:hover {
    background-color: red;
    color: white;
    text-shadow: 2px 2px 10px #2a3f54;
}

table th,
td {
    text-align: center;
    vertical-align: middle;
    font-size: 0.85rem;
}

th:first-of-type,
th:nth-child(2) {
    width: 1%;
}

th:last-of-type {
    width: 4%;
}

.table-hover tbody tr:hover td {
    background: #f68a39;
}

.table-hover tbody tr.filter-row:hover td {
    background: none;
}

.img-table {
    width: 50px;
    height: 50px;
}

.pagination {
    --bs-pagination-active-bg: #3c5b7a;
    --bs-pagination-hover-bg: blue;
    --bs-pagination-color: black;
    --bs-pagination-hover-color: white;
}

label span {
    color: red;
    margin-left: 5px;
}

.pointer-none {
    pointer-events: none;
}

.pointer {
    cursor: pointer;
}

input[type="search"] {
    padding-right: 2rem;
}

input[type="search"]::-webkit-search-cancel-button {
    cursor: pointer;
    margin: 0 0.3rem;
}

a:hover {
    cursor: pointer;
}

.all-content {
    font-size: 0.95rem;
}

.all-content .dropdown-menu {
    background-color: #2a3f54;
    min-width: 8rem;
    color: white;
}

.all-content .dropdown-item {
    color: white;
    font-size: 0.9rem;
}

.all-content .dropdown-item:hover {
    color: #f68a39;
    background: black;
    border-color: #f68a39;
}
/* ---------------------------- */

/* Modal */
.btn-close:hover,
.btn-close:focus {
    background-color: red;
    color: white;
}

.modal-header {
    background-color: #2a3f54;
}

#delete-modal,
#edit-profile-modal,
#import-modal {
    margin-top: 5%;
}

.nav-vertical-edit-profile .nav-item {
    padding-left: 0px;
    padding-right: 0px;
}

.nav-vertical-edit-profile .nav-link {
    color: #2a3f54;
    font-weight: bold;
}

.nav-vertical-edit-profile .nav-link.active {
    color: white;
    border-bottom: #5a6268 2px solid;
    background-color: #2a3f54;
}

p.error {
    font-size: small;
    margin-left: 1%;
    line-height: 0.5rem;
    color: rgb(222, 0, 0);
}
/* ---------------------------- */

/* View Edit/Add */

.text-loading {
    color: #f68a39;
    font-weight: bold;
}

.fa-spin {
    color: #f68a39;
}

p.error-avatar {
    font-size: small;
    margin-top: 1%;
    color: rgb(222, 0, 0);
}

input[readonly] {
    background-color: #f6f6f6;
}

.ck-editor__editable[role="textbox"] {
    min-height: 500px;
}

.ck-content .image {
    margin: auto;
}

.ck .ck-sticky-panel .ck-sticky-panel__content_sticky {
    margin-top: 4%;
}

.bootstrap-tagsinput .tag {
    border: none;
    margin-right: 2px;
    color: white !important;
    background-color: #3c5b7a;
    padding: 0.3rem;
    border-radius: 5px;
}
/* ---------------------------- */

/* View Profile Admin */
.profile-admin {
    width: 400px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
/* ---------------------------- */

/* View Dashboard */
.truncate-text-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.post-item {
    height: 220px !important;
}

.image-card-dashboard {
    width: 150px;
    height: 80%;
    object-fit: cover;
}
/* ---------------------------- */

/* Header */
.logo img {
    height: 5rem;
    float: left;
}

.logo h1 {
    font-family: myFont;
    font-size: 4rem;
    color: black;
    font-weight: bold;
    float: left;
    margin-left: 1rem;
}

header .navbar-header {
    background: #f68a39;
    border-radius: 8px;
    box-shadow: 0px 6px 15px #000000a6;
}

header button.navbar-toggler {
    border: #000000a6 solid;
}

.navbar-left .nav-link {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 1rem;
}

.navbar-left .nav-link:hover {
    color: white;
    box-shadow: inset 0 -3px white;
}

.navbar-left .nav-link.active {
    color: white;
}

header .navbar .dropdown-menu {
    background-color: #f68a39;
}

header .navbar .dropdown-item {
    color: black;
    font-weight: bold;
}

header .navbar .dropdown-item:hover {
    background-color: #dee2d9;
}

header .navbar .dropdown-toggle::after {
    margin-left: 4px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: 0.5s;
}

.input-header {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 0px;
    padding: 0;
    position: absolute;
    right: 0;
}

.input-header-open {
    display: block;
    width: 200px;
}

.menu-provinces {
    max-height: 50vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    position: sticky;
    top: 0;
    /* padding-top: 0.5rem; */
}

.menu-provinces::-webkit-scrollbar {
    display: none;
}
/* ---------------------------- */

/* Footer */
footer a {
    color: white;
}

footer a:hover {
    color: #fb6d00;
}

footer .item p {
    font-size: smaller;
}

footer .item img {
    width: 100px;
    height: 100px;
}

footer .final {
    border-top: 1px solid white;
}

footer .final a {
    color: #f68a39;
}
/* ---------------------------- */

/* Button scroll to top */
#btn-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
/* ---------------------------- */

/* Breadcrumb */
.breadcrumb {
    --bs-breadcrumb-divider-color: white;
    --bs-breadcrumb-item-active-color: white;
}

.breadcrumb-item a {
    color: white;
}

.breadcrumb-item.active {
    font-weight: bold;
}
/* ---------------------------- */

/* Carousel */
.carousel-item {
    height: 500px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

.carousel-inner h2 {
    color: #fb6d00;
    font-weight: bolder;
}

.carousel-inner a h2:hover {
    color: white;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.35);
    right: 0;
    left: 0;
    border-radius: 8px;
}

.carousel-caption b {
    color: #fb6d00;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
/* ---------------------------- */

/* Page Content right */
.page-content-right {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    position: sticky;
    top: 0;
    padding-top: 0.5rem;
}

.page-content-right::-webkit-scrollbar {
    display: none;
}

.page-content-right img {
    width: 100%;
    height: 30%;
    border-radius: 10px;
    box-shadow: 0 10px 31px #000000ab;
}

.page-content-right h5:hover {
    color: #fb6d00;
}

.page-content-right p {
    font-size: 14px;
    padding: 5px 0;
}

.scroll-panel {
    overflow-y: scroll;
    scroll-behavior: smooth;
    max-height: 200px;
}

.scroll-panel::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #dee2d9;
    border-radius: 10px;
}

.scroll-panel::-webkit-scrollbar {
    width: 10px;
    background-color: #dee2d9;
}

.scroll-panel::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #f68a39;
}

.scroll-panel::-webkit-scrollbar-thumb:hover {
    background-color: #fb6d00;
}
/* ---------------------------- */

/* Home Page */
.heading {
    background-color: black;
    border-radius: 8rem;
    text-align: center;
}

.heading h5 {
    font-weight: bolder;
    color: white;
    padding: 0.5rem;
}

.home-img {
    box-shadow: 2px 2px 10px #000000ab;
    width: 100%;
    height: 300px;
    border-radius: 1rem;
    object-fit: cover;
}

.home-img-small {
    box-shadow: 2px 2px 10px #000000ab;
    width: 100%;
    height: 200px;
    border-radius: 1rem;
    object-fit: cover;
}

.home-title-img {
    color: black;
    font-weight: bold;
}

.home-title-img:hover {
    color: #fb6d00;
}
/* ---------------------------- */

/* Menu Page */
.horizontal-card-image {
    object-fit: cover;
    box-shadow: 2px 2px 10px #000000ab;
    width: 100%;
    height: 200px;
    border-radius: 0.375rem;
    object-fit: cover;
}

.overlay-0 {
    position: absolute;
    bottom: 0.7rem;
    left: 0.5rem;
    background-color: #f68a39;
    padding: 0.35rem 0.65rem;
    border-radius: 0.375rem;
    line-height: 1;
    font-weight: bold;
    text-align: center;
}

.overlay-1 {
    position: absolute;
    bottom: 3rem;
    left: 0.5rem;
    background-color: #f68a39;
    padding: 0.35rem 0.65rem;
    border-radius: 0.375rem;
    line-height: 1;
    font-weight: bold;
    text-align: center;
}

.overlay-0:hover {
    box-shadow: 2px 2px 10px #000000ab;
}

.mt-01 {
    margin-top: 0.15rem;
}
.menu a {
    color: black;
}

.menu a:hover {
    color: white;
}

.menu h5:hover {
    color: #fb6d00;
}

.tag button,
.tag button[disabled] {
    --bs-badge-font-size: 1.05rem;
    color: #000000;
    border-color: #dee2d9;
    font-weight: bold;
    margin: 0 0.25rem;
}

.tag button.focus,
.tag button:hover {
    background-color: #000000;
    color: #fb6d00;
}

.tag button {
    margin-top: 0.9rem;
}

.star-color {
    color: #fb6d00;
}

.rating {
    direction: rtl;
    display: inline-block;
}

.rating input {
    display: none;
}

.rating label {
    cursor: pointer;
    transition: all 0.5s;
}

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
    color: #fb6d00;
}

/* ---------------------------- */

/* Detail Page */
.btn-share {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.3em 0;
    outline: none;
    text-align: center;
    font-size: 0.9em;
    margin: 0 0.2em;
    width: 2.1rem;
}

.btn-share:focus,
.btn-share:hover {
    opacity: 0.8;
    box-shadow: 1px 1px 10px #000000ab;
}

.btn-share:active {
    color: #e2e2e2;
}

.btn-share.facebook {
    background: #3b5998;
}

.btn-share.twitter {
    background: #55acee;
}

.details img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.text-orange {
    color: #fb6d00;
}

a.text-orange:hover {
    text-shadow: 2px 2px 10px #fb6d00;
}

.badge {
    --bs-badge-font-size: 0.9em;
}

.btn-like,
.btn-liked:hover,
.btn-long {
    background-color: #f68a39;
    color: white;
    border: 2px solid #f87e21;
    border-radius: 1rem;
}

.btn-liked,
.btn-like:hover {
    background-color: #f87e21;
    color: black;
    border: 2px solid #f87e21;
    border-radius: 1rem;
    text-shadow: 2px 2px 10px #f68a39;
}

.btn-long:hover:hover {
    background-color: #f87e21;
    border: 2px solid #f87e21;
    color: white;
    text-shadow: 2px 2px 10px #f87e21;
}

.next-prev a {
    color: black;
    font-weight: bold;
}

.next-prev a:hover {
    color: #fb6d00;
    font-weight: bold;
}

.cmt a {
    color: black;
}

.cmt a:hover {
    color: #fb6d00;
}

.login-required {
    width: 33rem;
    margin: auto;
}

.tag a {
    background-color: #000000;
    color: #fb6d00;
    --bs-badge-font-size: 1.05rem;
    margin: 0 0.5rem;
}

.tag a:hover {
    text-decoration: underline;
}

.show-comment .fa-window-close:hover {
    color: red;
}

.show-comment .fa-edit:hover {
    color: #fb6d00;
}

a.comment-liked, a.comment-replied {
    color: #fb6d00;
}

.btn-link {
    text-decoration: none;
    color: #6c757d;
    font-weight: bold;
    font-size: 0.9rem;
}

.btn-link:hover {
    color: #fb6d00;
}
/* ---------------------------- */